{% extends "basehtml.html" %}
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <link href="assets/images/favicon.ico" mce_href="/assets/images/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="assets/images/favicon.ico" mce_href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="assets/images/favicon.ico" mce_href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> -->
<title>Maojia Sheng</title>
<link href="{{ static_file_url }}css/aboutme.css" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}
<div id="container" align="center">
    <div id="header">
        <div id="header_content" class="locate_center" align="left">
            <div id="logo">MAOJIA SHENG
            </div>
            
            <a href="mailto:smj.thu@gmail.com"><input type="button" id="message" class="header_message"/></a>
            
            
            
            
        </div>
    </div>
    
    <div id="main" class="locate_center">
        <div id="main_left">
            <div id="left_photo">
                <img alt="headpic" style="height:220px; width:200px; float:left; margin-bottom:5px;opacity:0.7;"  src="{{ static_file_url }}img/headme.JPG"/>
            </div>
            <div id="left_info">
                Name:<a style="font-weight:bold;">Maojia Sheng</a></br></br>
                Major:Electronic Engineering</br></br>
                Email:<a href="mailto:smj.thu@gmail.com">smj.thu@gmail.com</a></br></br>
                </br>
            </div>
            <div id="left_select">
                <a href="#"><input type="button" id="Button1" class="left_select_item_now" value="HOME"/></a>
                <a href="http://marksh.sinaapp.com"><input type="button" id="Button5" class="left_select_item" value="BLOG"/></a>
                <a href="http://www.renren.com/330403737"><input type="button" id="Button6" class="left_select_item" value="RENREN"/></a>
            </div>
        </div>

        <div id="main_center">
            <div id="center_content">
                <div id="newsfeed">
                    <div class="blockhead">&nbsp Where&When</div></p>
                        <table>
                            <tr>
                                <td>▪2010.08 -2014.06</td>
                                <td><a href="http://www.ee.tsinghua.edu.cn">Department of Electronic Engineering, Tsinghua University</a></td>
                            </tr>
                            <tr>
                                <td>▪2007.08 -2010.06</td>
                                <td valign="bottom"><a href="http://www.ythzx.cn">Yuntianhua Senior High School, Shuifu County, Yunnan, China</a></td>
                            </tr>
                            <tr>
                                <td>▪2004.08 -2007.06</td>
                                <td valign="bottom"><a href="http://www.ythzx.cn">Yuntianhua Middle School, Shuifu County, Yunnan, China</a></td>
                            </tr>
                            
                        </table>
                </div>
                <div id="projects">
                    <div class="blockhead">&nbsp How&What</div>
                        <table>
                            <tr>
                                <td valign="top">▪Hobbies:</td>
                                <td><a href="#">Traveling,Swimming,Bycicle,Roller Skating,Tennis,Movies,Music</a></td>
                            </tr>
                            <tr>
                                <td>▪Lifestyle:</td>
                                <td><a href="#">Read,Learn and Practice</a></td>
                            </tr>
                            <tr>
                                <td>▪Skills:</td>
                                <td><a href="#">C/C++,Python,JS,Java,PHP,SQL,CSS,XML,Android</a></td>
                            </tr>
                            <tr>
                                <td>▪Concern:</td>
                                <td><a href="#">Start-up,Economy and Financial,Commerce</a></td>
                            </tr>
                            <tr>
                                <td>▪English:</td>
                                <td><a href="#">CET-4,CET-6,Level-1 THU</a></td>
                            </tr>
                            <tr>
                                <td>▪SNS:</td>
                                <td><a href="http://www.renren.com/330403737">Renren:盛茂家;Facebook:Mark Sheng</a></td>
                            </tr>
                        </table>
                </div>
                <div id="team">
                    <div class="blockhead" style="width:760px;">&nbsp When&What</div>
                        <table>
							<tr>
                                <td>▪2013.07 </td>
                                <td><a href="#">internship in China Unicom</a></td>
                            </tr>
							<tr>
                                <td>▪2013.06 </td>
                                <td><a href="#">"国家大学生创业训练计划"</a></td>
                            </tr>
							<tr>
                                <td>▪2013.06 </td>
                                <td><a href="#">"清华大学启创计划"</a></td>
                            </tr>
							<tr>
                                <td>▪2013.05 </td>
                                <td><a href="#">"北京市高校应用开发设计大赛优秀作品奖"</a></td>
                            </tr>
                            <tr>
                                <td>▪2013.03 </td>
                                <td><a href="http://marksheng.net/_android/index.html">Developed an Android APP called Aileshuo</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.11 </td>
                                <td><a href="http://marksheng.net/index.htm">Developed an guide page called QingXinDaoHang</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.10 </td>
                                <td><a href="http://3daystartup.org/">Took part in the Beijing 3DayStartup,2nd prize</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.08 </td>
                                <td><a href="http://www.tfxsbj.com/index.html">Internship at a financial company</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.07 </td>
                                <td><a href="http://www.marksheng.net">Have my own website:www.marksheng.net</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.06 </td>
                                <td><a href="#">Began to learn HTML,CSS,JS,etc.</a></td>
                            </tr>
                            <tr>
                                <td>▪2012.02 </td>
                                <td><a href="#">Joined the students' golf association of THU,vice president</a></td>
                            </tr>
                            <tr>
                                <td>▪2011.03 </td>
                                <td><a href="#">Joined the Standing department,SAST of THU</a></td>
                            </tr>
                            <tr>
                                <td>▪2010.09 </td>
                                <td><a href="#">Became a undergraduate student in the Department of Electronic Engineering, Tsinghua University</a></td>
                            </tr>
                            <tr>
                                <td>▪2010.07  </td>
                                <td valign="top"><a href="#">Graduated from Yuntianhua Senior High School</a></td>
                            </tr>
                            <tr>
                                <td>▪2010.06  </td>
                                <td valign="top"><a href="#">Passed the College Entrance Examination with 667 points</a></td>
                            </tr>
                            <tr>
                                <td>▪2007.06  </td>
                                <td valign="top"><a href="#">Graduated from Yuntianhua Middle School</a></td>
                            </tr>
                            <tr>
                                <td>▪2007.06  </td>
                                <td valign="top"><a href="#">Graduated from Shuifu No.1 Primary School</a></td>
                            </tr>
                            <tr>
                                <td>▪1992.01.02  </td>
                                <td><a href="#">Be born in Shuifu,Yunnan,China</a></td>
                            </tr>
                        </table>
                </div>
            </div>
            
        </div>

    </div>
    
</div>
{% endblock %}
<!--foot-->
{% block foot %}
<div id="foot">
    <div id="foot_content">
        Mark Sheng 2012
        <div id="footRight">
            {{ words }}
            <script src="http://s95.cnzz.com/stat.php?id=4245231&web_id=4245231&show=pic" language="JavaScript"></script>
        </div>
    </div>
</div>
<textarea style="display:none">
{% endblock %}
